/*---ASIDE-TITLES-SETTINGS---*/

.aside-trendings {
    background-color: var(--bg-color-2);
    padding: 3rem 0 5rem;
    width: inherit;
}
.aside-p {
    font: 400 16px / 23px var(--main-font-1);
    margin: auto 11vw 2rem;
}

/*----TRENDING-GIFS-SETTINGS----*/

#trending-cards-ctn {
    display: flex;
    height: 190px;
    width: max-content;
    margin-left: 22px;
}

.gif-card {
    background-color: var(--gray);
    position: relative;
    height: inherit;
    width: auto;
    margin-right: 22px;
    img {
        height: inherit;
    }
}

.card-buttons-ctn, .filter, .gif-data {
    display: none;
}

.scrollable {
    width: inherit;
    overflow: scroll hidden;
}
