.header-bar .create-gifo-btn {
  color: var(--font-color-2);
  background-color: var(--gray);
  border-color: var(--gray); 
}

main {
  height: 72vh;
}

.horizontal-line {
  width: 55vw;
  height: 0.5rem;
  background-color: var(--main-color-1);
  border-radius: 0.3rem;
  margin: auto;
}

.main-ctn {
  width: 48vw;
  height: 27vw;
  border: 1px solid var(--main-color-1);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.corner-right, .corner-left {
  height: 1.6rem;
  width: 1.7rem;
  display: inline-block;
  position: absolute;
}
.corner-right {
  border-right: 1px solid var(--main-color-2);
  right: 2vw;
}
.corner-left {
  border-left: 1px solid var(--main-color-2);
  left: 2vw;
}
.corner-top {
  border-top: 1px solid var(--main-color-2);
  top: 2vw;
}
.corner-bottom {
  border-bottom: 1px solid var(--main-color-2);
  bottom: 2vw;
}

.step-number {
  font: 500 1.2rem / 1.8rem var(--main-font-1);
  color: var(--main-color-1);
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--main-color-1);
  border-radius: 50%;
  display: inline-block;
  margin: 2rem 0.8rem;
}

.current-step {
  color: var(--bg-color-1);
  background-color: var(--main-color-1);
}

.create-video-title {
  font: 700 1.6rem / 2.2rem var(--main-font-2);
  max-width: 350px;
}
.create-video-subtitle {
  font: 400 1rem/ 1.8rem var(--main-font-1);
  max-width: 450px;
}

.video-element {
  max-width: 80%;
  height: 80%;
}

figure {
  position: absolute;
}

.camera-ctn {
  width: max-content;
}
.camera {
  width: 9vw;
}
.camera-light {
  width: 5.7vw;
  translate: -0.4vw -1vw;
  animation: blinking 5s infinite;
}

@keyframes blinking {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
}
