.header-bar .create-gifo-btn {
  color: var(--font-color-2);
  background-color: var(--gray);
  border-color: var(--gray); 
}

main {
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.horizontal-line {
  width: 55vw;
  height: 0.4rem;
  background-color: var(--main-color-1);
  border-radius: 0.3rem;
}

.main-ctn {
  width: 47vw;
  height: 25vw;
  border: 1px solid var(--main-color-1);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.corner-right, .corner-left {
  height: 1.6rem;
  width: 1.7rem;
  display: inline-block;
  position: absolute;
}
.corner-right {
  border-right: 1px solid var(--main-color-2);
  right: 2vw;
}
.corner-left {
  border-left: 1px solid var(--main-color-2);
  left: 2vw;
}
.corner-top {
  border-top: 1px solid var(--main-color-2);
  top: 2vw;
}
.corner-bottom {
  border-bottom: 1px solid var(--main-color-2);
  bottom: 2vw;
}

.step-number {
  font: 500 1.2rem / 1.8rem var(--main-font-1);
  color: var(--main-color-1);
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--main-color-1);
  border-radius: 50%;
  display: inline-block;
  margin: 1rem 0.6rem;
}

.current-step {
  color: var(--bg-color-1);
  background-color: var(--main-color-1);
}

.create-video-title {
  font: 700 1.6rem / 2.2rem var(--main-font-2);
  max-width: 350px;
}
.create-video-subtitle {
  font: 400 1rem/ 1.8rem var(--main-font-1);
  max-width: 450px;
}

.video-element {
  height: 100%;
}

figure {
  position: absolute;
}

.camera-ctn {
  width: max-content;
}
.camera {
  width: 9vw;
}
.camera-light {
  width: 5.7vw;
  translate: -0.4vw -1vw;
  animation: blinking 5s infinite;
}

@keyframes blinking {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.loading-icon {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg);}
}

.bottom-btn {
  @extend .more-button;
  margin: 1rem auto 0;
  &:hover {
    color: var(--bg-color-1);
    background-color: var(--main-color-1);
  }
}


@media (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
  main {
    margin-top: 12vh;
  }
}
@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}


//SOLO POR AHORA SETTINGS.

.btn-hidden {
  opacity: 0;
  z-index: -100;
}

.video-ctn {
  max-width: 80%;
  width: auto;
  height: 80%;
  position: relative;
}

.processing-video-panel {
  width: 100%;
  height: 100%; 
  background-color: #572EE599;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}