.footer {
    border-bottom: 5px solid var(--page-border-color);
    nav {
        @extend %behave-horizontal;
        width: 100px; 
        margin: auto;
    }
    p {
        font: 400 14px / 20px var(--main-font-1);
        letter-spacing: 0;
        margin-top: 30px;
    }

    .facebook {
        width: 8px;
        height: 17px;
        background-image: var(--icon-fb);
    }
    .twitter {
        width: 18px;
        height: 17px;
        background-image: var(--icon-tw);
    }
    .instagram {
        width: 18px;
        height: 18px;
        background-image: var(--icon-ig);
    }
}
