//---GENERAL-SETTINGS---//

body {
    font-family: var(--main-font-1), var(--main-font-2), Helvetica, sans-serif;
    text-align: center;
    color: var(--font-color-1); 
}
* {
    box-sizing: border-box;
}
button {
    cursor: pointer;
    border: none;
    background-color: #FFFFFF00;
}
label {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: initial;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-1);
}
main {
    margin-top: 15vh;
}  

.color-aqua {
    color: var(--main-color-2);
}
.color-blue {
    color: var(--main-color-1);
}

.close-btn {
    width: 14px;
    height: 14px;
    background-image: var(--icon-close);
}

%behave-horizontal { //Basically: the perfect flex row. 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}




//---GIFS-GALLERY'S-STYLES:searched-favorites-myGifos---//

.gifs-ctn {
    margin: auto;
    width: 90vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    article {
        width: 100%;
        height: 30vw;
        margin: 0;
        > img {
            width: 100%;
            height: 100%;
        }
    }
}

.section-icon {
    margin-top: 0.6rem;
}
.section-title {
    font: 700 20px / 30px var(--main-font-2);
    margin: 0 auto 0.5rem;
    color: var(--main-color-1);
}
.more-button {
    font: 700 13px var(--main-font-2);
    background-color: #FFFFFF00;
    letter-spacing: 0;
    border: 1px solid var(--main-color-1);
    border-radius: 25px;
    padding: 1rem 2rem;
    color: var(--main-color-1);
    margin: 2rem auto 5rem;
}
.empty-sec-msg {
    font: 700 18px / 22px var(--main-font-2);
    margin: 2rem auto;
    color: var(--main-color-2);
    width: 90%;
    max-width: 350px;
}

.empty-favorites, .empty-my-gifos {
    margin: 6.5rem auto;
}

.searched-title {
    font: 700 35px / 30px var(--main-font-2);
    margin: 3rem auto 2rem;
    color: var(--main-color-1);
}
.searched-section::before {
    content: "";
    display: block;
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    width: 40%;
    margin: auto;
}



/*SOLO-POR-AHORA-SETTINGS*/

.fullscreen-gif {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 8vh 8vw;
    display: grid;
}

.search-button img { //Neither works.
    color: red;
    fill: red;
}
// #search-ctn {  ///Solo se mantiene en sticky hasta llegar al aside.
//     position: sticky;
//     top: 2vh;
//     z-index: 10;
// }


/*
COMMENTS: 
1.Conseguite un nuevo logo que sirva para dark y light a la vez.

*/
