//---GENERAL-SETTINGS---//

* {
    font-family: var(--main-font-1), var(--main-font-2), Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: initial;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-1);
}
main {
    margin-top: 15vh;
}  

.color-aqua {
    color: var(--main-color-2);
}
.color-blue {
    color: var(--main-color-1);
}




//---RANDOM-NOT-ALREADY-DONE-SECTIONS-STYLES---//
#theme-switch {
    cursor: pointer;
}

.fullscreen-gif {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 8vh 8vw;
    display: grid;
}


.section-icon {
    margin-top: 0.6rem;
}
.section-title {
    font: 700 20px / 30px var(--main-font-2);
    margin: 0 auto 0.5rem;
    color: var(--main-color-1);
}
.more-button {
    font: 700 13px var(--main-font-2);
    background-color: #FFFFFF00;
    letter-spacing: 0;
    border: 1px solid var(--main-color-1);
    border-radius: 25px;
    padding: 1rem 2rem;
    color: var(--main-color-1);
    margin: 2rem auto 5rem;
}
.empty-sec-msg {
    font: 700 18px / 22px var(--main-font-2);
    margin: 2rem auto 8rem;
    color: var(--main-color-2);
    width: 90%;
    max-width: 350px;
}


.searched-title {
    font: 700 35px / 30px var(--main-font-2);
    margin: 3rem auto 2rem;
    color: var(--main-color-1);
}
.searched-section::before {
    content: "";
    display: block;
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    width: 40%;
    margin: auto;
}


@media screen and (min-width: 1024px) {
    .more-button:hover {
        color: var(--font-color-2);
        background-color: var(--main-color-1); 
    }
}

@media screen and (min-width: 1200px) {
    //---TITLES-RESIZING--//
    h1 {
        font-size: 40px;
        line-height: 50px;
        max-width: 650px;
    }
    .trending-h3 {
        font-size: 18px;
    }
    #trending-topics-ctn {
        font-size: 16px;
    }
    .empty-sec-msg {
        font: 700 22px / 25px var(--main-font-2);
        max-width: 430px;
    }
}







/*SOLO-POR-AHORA-SETTINGS*/


.search-button img { //Neither works.
    color: red;
    fill: red;
}
// #search-ctn {  ///Solo se mantiene en sticky hasta llegar al aside.
//     position: sticky;
//     top: 2vh;
//     z-index: 10;
// }




.dark { //Podría desde JS agregarle esta clase al body cuando el darkMode se activa.
    --bg-color-1: var(--bg-dark-color-1);
    ///Acá cambio todo lo demás tmbn...
}




/*
COMMENTS: 


*/
