/*---HEADER---*/

.header-bar {
    @extend %behave-horizontal;  
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    background-color: var(--bg-color-1);
    border-top: 0.3rem solid var(--page-border-color);
    z-index: 10;  
    padding: 0 6vw;
    .logo {
        height: 70%;
        > img {
            height: 100%;
        }
    }

    /*---HEADER-MENÚ---*/
    nav {
        width: 100vw;
        height: 90vh;
        position: absolute;
        display: none;
        left: 0; 
        top: 100%;
        background-color: var(--nav-bg-color);
    }
    ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        li, li > a {
            font: 700 0.9rem / 0.9rem var(--main-font-2);
            letter-spacing: 0;
            color:#FFFFFF;
            cursor: pointer
        }
        li::after {
            content: "";
            display: block;
            opacity: 0.5;
            border: 1px solid #FFFFFF;
            width: 2.5rem;
            margin: 1rem auto;
        }
    }
}

/*---HAMBURGUER-MENU-ICONS---*/
.header-bar {
    .hamb-icon {
        color: var(--main-color-1);
    }
    .close-icon, .hamb-checkbox:checked~.hamb-icon {
        display: none;
    }
    .hamb-checkbox:checked ~ {
        nav, .close-icon {
            display: initial;
        }
    }
}


@media screen and (min-width: 1024px) {

    /*---HEADER-BAR---*/
    .header-bar {
        height: 12vh;
        nav {
            height: min-content;
            width: 40vw;
            display: initial;
            position: initial;
            background-color: initial;
        }
        ul {
            flex-flow: row nowrap;
            justify-content: space-between;
            li, li > a {
                color: var(--main-color-1);
                text-transform: uppercase;
                margin: auto;
            }
            li::after {
                display: none;
            }
        }
        li:not(.btn-create) {
            &:hover {
                border-bottom: 2px solid var(--main-color-2);
            }
            &:active, &:active > a, &.active-link > a {
                color: var(--gray);
                border-bottom: none;
            }
        }
    }
    .create-gifo-btn {
        display: inline-block;
        height: 3.4rem;
        width: 3.4rem;
        border: 1px solid var(--main-color-1);
        border-radius: 50%;
        color: var(--main-color-1);
        .fa-plus {
            font-size: 1.2rem;
            line-height: 3.4rem;
        }
        &:hover {
            color: var(--bg-color-1);
            background-color: var(--main-color-1);
        }
        &:active {
            color: var(--font-color-2);
            background-color: var(--gray);
            border-color: var(--gray); 
        }
    }
}