/*---HEADER---*/

.header-bar {
    @extend %behave-horizontal;  
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0;
    background-color: var(--bg-color-1);
    border-top: 5px solid var(--page-border-color);
    z-index: 10;  
    padding: 0 6vw;

    /*---HEADER-MENÚ---*/
    nav {
        width: 100vw;
        height: 90vh;
        position: absolute;
        display: none;
        left: 0; 
        top: 100%;
        background-color: var(--nav-bg-color);
    }
    ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        li {
            font: 700 15px / 15px var(--main-font-2);
            letter-spacing: 0;
            color:#FFFFFF;
            cursor: pointer
        }
        li::after {
            content: "";
            display: block;
            opacity: 0.5;
            border: 1px solid #FFFFFF;
            width: 40px;
            margin: 1rem auto;
        }
    }
}

/*---HAMBURGUER-MENU-ICONS---*/
.header-bar {
    .hamb-icon {
        background-image: var(--icon-hamburguer);
        width: 15px;
        height: 14px; 
    }
    .close-icon, .hamb-checkbox:checked~.hamb-icon {
        display: none;
    }
    .hamb-checkbox:checked ~ {
        nav, .close-icon {
            display: initial;
        }
    }
}
