//Los @medias del header y footer están en sus módulos respectivos 
// para poder importarlos en otros archivos de forma independiente.


@media screen and(min-width: 600px) {
    /*--GIFS-GALLERY-RESPONSIVE--*/
    .gifs-ctn {
        grid-template-columns: repeat(3,1fr);
        article {
            height: 20vw;
        }
    }
}


@media screen and (min-width: 1024px) { 
    %btn-hover {
        color: var(--bg-color-1);
        background-color: var(--main-color-1);
    }

    :root {
        font-size: 14px;
    }

    /*--GIFS-GALLERY-RESPONSIVE--*/
    .gifs-ctn {
        width: 80vw;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 2vw;
        article {
            height: 15vw;
        }
    }

    /*---ASIDE-TRENDING-GIFS---¨*/
    #trending-cards-ctn {
        height: 35vh;
        min-height: 190px;
        margin: 0; 
    }
    .gif-card:last-child {
        margin-right: 0;
    }
    
    /*---GIF-HOVER-SETTINGS---*/
    .card-buttons-ctn i:hover { 
        opacity: 1; 
    }
    .gif-card:hover {
        > .card-hover-panel {
            display: initial;
        }
    }

    /*--ASIDE-FONTS--*/
    .aside-trendings {
        padding-bottom: 10rem;
    }
    .aside-trendings > .section-title {
        font-size: 1.9rem;
        line-height: 3.7rem;
    } 
    .aside-p {
        font-size: 1.2rem;
    }

    /*--CARROUSEL--*/
    .scrollable {
        width: 78vw;
        overflow: hidden;
    }
    .carrousel-ctn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 5vw;
    }
    .gif-card {
        margin-right: 2vw;
    }

    .arrow-right, .arrow-left {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
        color: var(--main-color-1);
        border: 1px solid var(--main-color-1);
        background-color: transparent;
        &:hover {
            @extend %btn-hover;
        }
    }

    /*-VIEW-MORE-BUTTON-*/
    .more-button:hover {
        @extend %btn-hover;
    }
}


@media screen and (min-width: 1200px) {
    :root {
        font-size: 16px;
    }

    /*---TITLES-RESIZING--*/
    h1 {
        font-size: 2.5rem;
        line-height: 3.1rem;
        max-width: 650px;
    }
    .trending-h3 {
        font-size: 1.1rem;
    }
    #trending-topics-ctn {
        font-size: 1rem;
    }
    .empty-sec-msg {
        font: 700 1.3rem / 1.5rem var(--main-font-2);
        max-width: 430px;
    }
}

@media screen and (min-width: 1500px) {
    :root {
        font-size: 18px;
    }
}
