/*---SEARCH-SECTION-STYLING---*/

h1 {
    font: 700 1.6rem / 2.1rem var(--main-font-2);
    width: 76vw;
    max-width: 440px;
    margin: 0.5rem auto 2rem;
}
.heading-img {
    max-width: 75vw;
    display: block;
    margin: auto;
}

/*--SEARCH-BAR--*/

#search-ctn {
    border: 2px solid var(--main-color-1);
    border-radius: 30px;
    width: 90vw;
    max-width: 550px;
    margin: 0 auto;
    overflow: hidden;
}
.search-bar {
    @extend %behave-horizontal;
    border-radius: 30px;
    width: auto; 
    padding: 0 12px;
}
.search-input {
    font: 400 1rem / 1.3rem var(--main-font-1);
    color: var(--font-color-1);
    text-align: left;
    padding: 1rem 0.5rem 1rem 2rem;
    border: none;
    background-color: transparent;
    width: 90%;
}
.search-button {
    width: 20px;
    height: 20px;
    margin: 0 6px;
    color: var(--main-color-1);
    .fa-search {
        font-size: 22px;
        margin-left: -8px;
    }
}

.search-input:focus ~ .search-button {
    color: var(--gray);
}
.clear-search-button {
    display: none;
    padding: 0;
    margin-right: 8px;
}

.active-search { 
    flex-direction: row-reverse;
    .clear-search-button {
        display: initial;
    }
    .search-input {
        padding-left: 0;
    }
}

/*--SEARCH-SUGGESTIONS--*/
.search-suggestions {
    background-color: transparent;
}
.search-suggestions > article:first-child::before {
    content: "";
    display: block;
    opacity: 0.5;
    border: 1px solid var(--gray);
    width: 92%;
    margin: auto;
}
.suggestion {
    text-align: start;
    &:hover {
        background-color: rgba(128, 128, 128, 0.15);
        cursor: pointer;
    }
    .fa-search {
        width: 16px;
        height: 16px;
        margin: 0 0.2rem 0 1.3rem;
        color: var(--gray);
    }
    p {
        font: 400 1rem / 1.2rem var(--main-font-1);
        color: var(--gray);
        display: inline-block;
    }
}

/*--TRENDING-TOPICS-TITLES-SIZING--*/
#trending-topics-ctn {
    font: 500 0.9rem / 1.5rem var(--main-font-2);
    max-width: 60vw;
    margin: 0 auto 3rem;
    text-transform: capitalize;
    span {
        cursor: pointer;
    }
}
.trending-h3 {
    font: 700 1rem / 1.5rem var(--main-font-2);
    margin: 2rem auto 0;
}