:root {
    --violet: #572EE5;
    --gray: #9CAFC3;
    --main-color-1: #572EE5;
    --main-color-2: #50E3C2;
    --bg-color-1: #FFFFFF;
    --bg-color-2: #F3F5F8;
    --font-color-1: #000000;
    --font-color-2: #FFFFFF;
    --main-font-1: "Roboto";
    --main-font-2: "Montserrat";
    --page-border-color: #572EE5;
    --nav-bg-color: rgba(87,46,229,0.9);
    --btn-hover-font-color: #FFFFFF;
}

.dark { //Desde JS agrego esta clase al body cuando el darkMode se activa.
    --bg-color-1: #37383C;
    --bg-color-2: #222326;
    --font-color-1: #FFFFFF;
    --main-color-1: #FFFFFF;
    --page-border-color: #000000;
    --nav-bg-color: #000000;
}
