:root {
    --main-color-1: #572EE5;
    --main-color-2: #50E3C2;
    --bg-color-1: #FFFFFF;
    --bg-color-2: #F3F5F8;
    --font-color-1: #000000;
    --font-color-2: #FFFFFF;
    --main-font-1: "Roboto";
    --main-font-2: "Montserrat";


    --bg-dark-color-1: #37383C;
    --bg-dark-color-2: #222326;
    --dark-font-color: #FFFFFF;
}