@import 'variables';
@import 'general';
@import 'header';
@import 'footer';
@import 'medias';
@import 'create'; 

.hidden {
    display: none;
}
.mobile-hidden {
    display: none;
}

@media screen and (min-width: 1024px) {
    .mobile-hidden {
        display: initial;
    }
    .desktop-hidden {
        display: none;
    }
}