@import 'variables';
@import 'general';
@import 'header';
@import 'footer';
@import 'medias';

.header-bar .create-gifo-btn {
    color: var(--font-color-2);
    background-color: var(--gray);
    border-color: var(--gray); 
}

main {
    height: 72vh;
}
.hidden {
    display: none;
}
.mobile-hidden {
    display: none;
}

@media screen and (min-width: 1024px) {
    .mobile-hidden {
        display: initial;
    }
    .desktop-hidden {
        display: none;
    }
}