@charset "UTF-8";
:root {
  --violet: #572EE5;
  --gray: #9CAFC3;
  --main-color-1: #572EE5;
  --main-color-2: #50E3C2;
  --bg-color-1: #FFFFFF;
  --bg-color-2: #F3F5F8;
  --font-color-1: #000000;
  --font-color-2: #FFFFFF;
  --main-font-1: "Roboto";
  --main-font-2: "Montserrat";
  --page-border-color: #572EE5;
  --nav-bg-color: rgba(87,46,229,0.9);
  --btn-hover-font-color: #FFFFFF;
  --fullscreen-bg-color: rgba(255, 255, 255, 0.9); }

.dark {
  --bg-color-1: #37383C;
  --bg-color-2: #222326;
  --font-color-1: #FFFFFF;
  --main-color-1: #FFFFFF;
  --page-border-color: #000000;
  --nav-bg-color: #000000;
  --fullscreen-bg-color: rgba(0, 0, 0, 0.95); }

body {
  font-family: var(--main-font-1), var(--main-font-2), Helvetica, sans-serif;
  text-align: center;
  color: var(--font-color-1); }

* {
  box-sizing: border-box; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--main-color-1);
  text-transform: uppercase; }

label {
  cursor: pointer; }

a {
  text-decoration: none;
  color: initial; }

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-1); }

main {
  margin-top: 15vh; }

.color-aqua {
  color: var(--main-color-2); }

.color-blue {
  color: var(--main-color-1); }

.fa-times {
  font-size: 1.3rem;
  color: var(--main-color-1); }

html.theme-transition * {
  transition: all 500ms !important;
  transition-delay: 0 !important; }

.header-bar, .footer nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.gifs-ctn {
  margin: auto;
  width: 90vw;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
  .gifs-ctn article {
    width: 100%;
    height: 30vw;
    margin: 0; }
    .gifs-ctn article > img {
      width: 100%;
      height: 100%; }

.searched-section, .favorites-section, .my-gifos-section {
  margin: 0.6rem auto 6rem; }

.section-title {
  font: 700 1.3rem/1.9rem var(--main-font-2);
  margin: 0 auto 0.5rem;
  color: var(--main-color-1); }

.more-button, .bottom-btn {
  font: 700 0.8rem var(--main-font-2);
  background-color: transparent;
  letter-spacing: 0;
  border: 1px solid var(--main-color-1);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  color: var(--main-color-1);
  margin: 2rem auto; }

.empty-sec-msg {
  font: 700 1.1rem/1.4rem var(--main-font-2);
  margin: 2rem auto 0;
  color: var(--main-color-2);
  width: 90%;
  max-width: 350px; }

.empty-favorites, .empty-my-gifos {
  margin: 5rem auto 0; }

.searched-title {
  font: 700 2.2rem/1.9rem var(--main-font-2);
  margin: 3rem auto 2rem;
  color: var(--main-color-1); }

.searched-section::before {
  content: "";
  display: block;
  opacity: 0.5;
  border: 1px solid var(--gray);
  width: 40%;
  margin: auto; }

/*SOLO-POR-AHORA-SETTINGS*/
#on-fullscreen-gif {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: var(--fullscreen-bg-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }
  #on-fullscreen-gif > img {
    max-width: 85vw;
    width: 100%;
    height: auto;
    max-height: 50vh; }
  #on-fullscreen-gif .card-hover-panel {
    display: initial;
    background-color: transparent; }
  #on-fullscreen-gif .gif-data {
    position: initial;
    display: initial;
    align-self: flex-start;
    color: var(--font-color-1); }
  #on-fullscreen-gif .card-buttons-ctn {
    display: initial;
    height: 2rem;
    right: 0; }
    #on-fullscreen-gif .card-buttons-ctn i {
      color: var(--main-color-1);
      background-color: transparent; }

/*
COMMENTS: 
1.Conseguite un nuevo logo que sirva para dark y light a la vez. (que incluya un gatito, eh).
*/
/*---HEADER---*/
.header-bar {
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  background-color: var(--bg-color-1);
  border-top: 0.3rem solid var(--page-border-color);
  z-index: 10;
  padding: 0 6vw;
  /*---HEADER-MENÚ---*/ }
  .header-bar .logo {
    height: 70%; }
    .header-bar .logo > img {
      height: 100%; }
  .header-bar nav {
    width: 100vw;
    height: 90vh;
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background-color: var(--nav-bg-color); }
  .header-bar ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0; }
    .header-bar ul li, .header-bar ul li > a {
      font: 700 0.9rem/0.9rem var(--main-font-2);
      letter-spacing: 0;
      color: #FFFFFF;
      cursor: pointer; }
    .header-bar ul li::after {
      content: "";
      display: block;
      opacity: 0.5;
      border: 1px solid #FFFFFF;
      width: 2.5rem;
      margin: 1rem auto; }

/*---HAMBURGUER-MENU-ICONS---*/
.header-bar .hamb-icon {
  color: var(--main-color-1); }
.header-bar .close-icon, .header-bar .hamb-checkbox:checked ~ .hamb-icon {
  display: none; }
.header-bar .hamb-checkbox:checked ~ nav, .header-bar .hamb-checkbox:checked ~ .close-icon {
  display: initial; }

@media screen and (min-width: 1024px) {
  /*---HEADER-BAR---*/
  .header-bar {
    height: 12vh; }
    .header-bar nav {
      height: min-content;
      width: 40vw;
      display: initial;
      position: initial;
      background-color: initial; }
    .header-bar ul {
      flex-flow: row nowrap;
      justify-content: space-between; }
      .header-bar ul li, .header-bar ul li > a {
        color: var(--main-color-1);
        text-transform: uppercase;
        margin: auto; }
      .header-bar ul li::after {
        display: none; }
    .header-bar li:not(.btn-create):hover {
      border-bottom: 2px solid var(--main-color-2); }
    .header-bar li:not(.btn-create):active, .header-bar li:not(.btn-create):active > a, .header-bar li:not(.btn-create).active-link > a {
      color: var(--gray);
      border-bottom: none; }

  .create-gifo-btn {
    display: inline-block;
    height: 3.4rem;
    width: 3.4rem;
    border: 1px solid var(--main-color-1);
    border-radius: 50%;
    color: var(--main-color-1); }
    .create-gifo-btn .fa-plus {
      font-size: 1.2rem;
      line-height: 3.4rem; }
    .create-gifo-btn:hover {
      color: var(--bg-color-1);
      background-color: var(--main-color-1); }
    .create-gifo-btn:active {
      color: var(--font-color-2);
      background-color: var(--gray);
      border-color: var(--gray); } }
.footer {
  border-bottom: 0.3rem solid var(--page-border-color); }
  .footer nav {
    width: 6.3rem;
    margin: auto; }
  .footer p {
    font: 400 0.9rem/1.2rem var(--main-font-1);
    letter-spacing: 0;
    margin-top: 1.9rem; }
  .footer .fa {
    color: #CDD6E0; }

@media screen and (min-width: 720px) {
  /*---FOOTER---¨*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    padding: 0 11vw; }
    .footer p {
      margin: 0; }
    .footer nav {
      margin-left: 1.5rem; }
    .footer .fa:hover {
      color: var(--main-color-1); } }
.header-bar .create-gifo-btn {
  color: var(--font-color-2);
  background-color: var(--gray);
  border-color: var(--gray); }

main {
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between; }

.horizontal-line {
  width: 55vw;
  height: 0.4rem;
  background-color: var(--main-color-1);
  border-radius: 0.3rem; }

.main-ctn {
  width: 47vw;
  height: 25vw;
  border: 1px solid var(--main-color-1);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }

.corner-right, .corner-left {
  height: 1.6rem;
  width: 1.7rem;
  display: inline-block;
  position: absolute; }

.corner-right {
  border-right: 1px solid var(--main-color-2);
  right: 2vw; }

.corner-left {
  border-left: 1px solid var(--main-color-2);
  left: 2vw; }

.corner-top {
  border-top: 1px solid var(--main-color-2);
  top: 2vw; }

.corner-bottom {
  border-bottom: 1px solid var(--main-color-2);
  bottom: 2vw; }

.step-number {
  font: 500 1.2rem/1.8rem var(--main-font-1);
  color: var(--main-color-1);
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--main-color-1);
  border-radius: 50%;
  display: inline-block;
  margin: 1rem 0.6rem; }

.current-step {
  color: var(--bg-color-1);
  background-color: var(--main-color-1); }

.create-video-title {
  font: 700 1.6rem/2.2rem var(--main-font-2);
  max-width: 350px; }

.create-video-subtitle {
  font: 400 1rem/1.8rem var(--main-font-1);
  max-width: 450px; }

.video-element {
  height: 100%; }

figure {
  position: absolute; }

.camera-ctn {
  width: max-content; }

.camera {
  width: 9vw; }

.camera-light {
  width: 5.7vw;
  translate: -0.4vw -1vw;
  animation: blinking 5s infinite; }

@keyframes blinking {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.loading-icon {
  animation: rotation 2s linear infinite; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.bottom-btn {
  margin: 1rem auto 0; }
  .bottom-btn:hover {
    color: var(--bg-color-1);
    background-color: var(--main-color-1); }

@media (min-width: 1024px) {
  :root {
    font-size: 14px; }

  main {
    margin-top: 12vh; } }
@media (min-width: 1200px) {
  :root {
    font-size: 16px; } }
.btn-hidden {
  opacity: 0;
  z-index: -100; }

.video-ctn {
  max-width: 80%;
  width: auto;
  height: 80%;
  position: relative; }

.processing-video-panel {
  width: 100%;
  height: 100%;
  background-color: #572EE599;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }

.hidden {
  display: none; }

.mobile-hidden {
  display: none; }

@media screen and (min-width: 1024px) {
  .mobile-hidden {
    display: initial; }

  .desktop-hidden {
    display: none; } }

/*# sourceMappingURL=styles_create.css.map */
