@charset "UTF-8";
:root {
  --violet: #572EE5;
  --gray: #9CAFC3;
  --main-color-1: #572EE5;
  --main-color-2: #50E3C2;
  --bg-color-1: #FFFFFF;
  --bg-color-2: #F3F5F8;
  --font-color-1: #000000;
  --font-color-2: #FFFFFF;
  --main-font-1: "Roboto";
  --main-font-2: "Montserrat";
  --page-border-color: #572EE5;
  --nav-bg-color: rgba(87,46,229,0.9);
  --btn-hover-font-color: #FFFFFF;
  --fullscreen-bg-color: rgba(255, 255, 255, 0.9); }

.dark {
  --bg-color-1: #37383C;
  --bg-color-2: #222326;
  --font-color-1: #FFFFFF;
  --main-color-1: #FFFFFF;
  --page-border-color: #000000;
  --nav-bg-color: #000000;
  --fullscreen-bg-color: rgba(0, 0, 0, 0.95); }

body {
  font-family: var(--main-font-1), var(--main-font-2), Helvetica, sans-serif;
  text-align: center;
  color: var(--font-color-1); }

* {
  box-sizing: border-box; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--main-color-1);
  text-transform: uppercase; }

label {
  cursor: pointer; }

a {
  text-decoration: none;
  color: initial; }

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-1); }

main {
  margin-top: 15vh; }

.color-aqua {
  color: var(--main-color-2); }

.color-blue {
  color: var(--main-color-1); }

.fa-times {
  font-size: 1.3rem;
  color: var(--main-color-1); }

html.theme-transition * {
  transition: all 500ms !important;
  transition-delay: 0 !important; }

#on-fullscreen-gif .card-hover-panel, .header-bar, .search-bar, .footer nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.gifs-ctn {
  margin: auto;
  width: 90vw;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
  .gifs-ctn article {
    width: 100%;
    height: 30vw;
    margin: 0; }
    .gifs-ctn article > img {
      width: 100%;
      height: 100%; }

.searched-section, .favorites-section, .my-gifos-section {
  margin: 0.6rem auto 6rem; }

.section-title {
  font: 700 1.3rem/1.9rem var(--main-font-2);
  margin: 0 auto 0.5rem;
  color: var(--main-color-1); }

.more-button {
  font: 700 0.8rem var(--main-font-2);
  background-color: transparent;
  letter-spacing: 0;
  border: 1px solid var(--main-color-1);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  color: var(--main-color-1);
  margin: 2rem auto; }

.empty-sec-msg {
  font: 700 1.1rem/1.4rem var(--main-font-2);
  margin: 2rem auto 0;
  color: var(--main-color-2);
  width: 90%;
  max-width: 350px; }

.empty-favorites, .empty-my-gifos {
  margin: 5rem auto 0; }

.searched-title {
  font: 700 2.2rem/1.9rem var(--main-font-2);
  margin: 3rem auto 2rem;
  color: var(--main-color-1);
  hyphens: auto; }

.searched-section::before {
  content: "";
  display: block;
  opacity: 0.5;
  border: 1px solid var(--gray);
  width: 40%;
  margin: auto; }

/*SOLO-POR-AHORA-SETTINGS*/
#on-fullscreen-gif {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: var(--fullscreen-bg-color);
  display: grid;
  grid-template: 1fr auto auto 1fr / 1fr auto 1fr;
  gap: 1rem 0; }
  #on-fullscreen-gif > img {
    width: 85vw;
    height: 50vh;
    object-fit: contain;
    grid-area: 2 / 2 / 3 / 3; }
  #on-fullscreen-gif .card-hover-panel {
    flex-direction: row-reverse;
    background-color: transparent;
    grid-area: 3 / 2 / 4 / 3; }
    #on-fullscreen-gif .card-hover-panel .gif-data, #on-fullscreen-gif .card-hover-panel .card-buttons-ctn, #on-fullscreen-gif .card-hover-panel p {
      width: max-content;
      height: max-content; }
  #on-fullscreen-gif .gif-data p {
    color: var(--font-color-1);
    margin-left: 0; }
  #on-fullscreen-gif .card-buttons-ctn i {
    color: var(--main-color-1);
    background-color: transparent; }
    #on-fullscreen-gif .card-buttons-ctn i.fa-expand-alt {
      position: absolute;
      top: 10vh;
      right: 5vw;
      font-size: 1.3rem; }
  #on-fullscreen-gif .card-hover-panel, #on-fullscreen-gif .gif-data, #on-fullscreen-gif .card-buttons-ctn {
    position: initial; }

@media screen and (min-width: 1024px) {
  #on-fullscreen-gif .card-buttons-ctn i.fa-expand-alt {
    right: 15vw; }
  #on-fullscreen-gif .card-buttons-ctn i:not(.fa-expand-alt):hover {
    background-color: var(--bg-color-1); } }
/*
COMMENTS: 
1.Ubicate la cámara y el rollito en el create Gifo.
2. Fijate si hay cosas para eliminar/emprolijar en los estilos de #on-fullscreen-gif.
*/
/*---HEADER---*/
.header-bar {
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  background-color: var(--bg-color-1);
  border-top: 0.3rem solid var(--page-border-color);
  z-index: 10;
  padding: 0 6vw;
  /*---HEADER-MENÚ---*/ }
  .header-bar .logo {
    height: 30%; }
    .header-bar .logo > img {
      height: 100%; }
  .header-bar nav {
    width: 100vw;
    height: 90vh;
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background-color: var(--nav-bg-color); }
  .header-bar ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0; }
    .header-bar ul li, .header-bar ul li > a {
      font: 700 0.9rem/0.9rem var(--main-font-2);
      letter-spacing: 0;
      color: #FFFFFF;
      cursor: pointer; }
    .header-bar ul li::after {
      content: "";
      display: block;
      opacity: 0.5;
      border: 1px solid #FFFFFF;
      width: 2.5rem;
      margin: 1rem auto; }

/*---HAMBURGUER-MENU-ICONS---*/
.header-bar .hamb-icon {
  color: var(--main-color-1); }
.header-bar .close-icon, .header-bar .hamb-checkbox:checked ~ .hamb-icon {
  display: none; }
.header-bar .hamb-checkbox:checked ~ nav, .header-bar .hamb-checkbox:checked ~ .close-icon {
  display: initial; }

@media screen and (min-width: 1024px) {
  /*---HEADER-BAR---*/
  .header-bar {
    height: 12vh; }
    .header-bar .logo {
      height: 60%; }
    .header-bar nav {
      height: min-content;
      width: 40vw;
      display: initial;
      position: initial;
      background-color: initial; }
    .header-bar ul {
      flex-flow: row nowrap;
      justify-content: space-between; }
      .header-bar ul li, .header-bar ul li > a {
        color: var(--main-color-1);
        text-transform: uppercase;
        margin: auto; }
      .header-bar ul li::after {
        display: none; }
    .header-bar li:not(.btn-create):hover {
      border-bottom: 2px solid var(--main-color-2); }
    .header-bar li:not(.btn-create):active, .header-bar li:not(.btn-create):active > a, .header-bar li:not(.btn-create).active-link > a {
      color: var(--gray);
      border-bottom: none; }

  .create-gifo-btn {
    display: inline-block;
    height: 3.4rem;
    width: 3.4rem;
    border: 1px solid var(--main-color-1);
    border-radius: 50%;
    color: var(--main-color-1); }
    .create-gifo-btn .fa-plus {
      font-size: 1.2rem;
      line-height: 3.4rem; }
    .create-gifo-btn:hover {
      color: var(--bg-color-1);
      background-color: var(--main-color-1); }
    .create-gifo-btn:active {
      color: var(--font-color-2);
      background-color: var(--gray);
      border-color: var(--gray); } }
/*---SEARCH-SECTION-STYLING---*/
h1 {
  font: 700 1.6rem/2.1rem var(--main-font-2);
  width: 76vw;
  max-width: 440px;
  margin: 0.5rem auto 2rem; }

.heading-img {
  max-width: 75vw;
  display: block;
  margin: auto; }

/*--SEARCH-BAR--*/
#search-ctn {
  border: 2px solid var(--main-color-1);
  border-radius: 30px;
  width: 90vw;
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden; }

.search-bar {
  border-radius: 30px;
  width: auto;
  padding: 0 12px; }

.search-input {
  font: 400 1rem/1.3rem var(--main-font-1);
  color: var(--font-color-1);
  text-align: left;
  padding: 1rem 0.5rem 1rem 2rem;
  border: none;
  background-color: transparent;
  width: 90%; }

.search-button {
  width: 20px;
  height: 20px;
  margin: 0 6px;
  color: var(--main-color-1); }
  .search-button .fa-search {
    font-size: 22px;
    margin-left: -8px; }

.search-input:focus ~ .search-button {
  color: var(--gray); }

.clear-search-button {
  display: none;
  padding: 0;
  margin-right: 8px; }

.active-search {
  flex-direction: row-reverse; }
  .active-search .clear-search-button {
    display: initial; }
  .active-search .search-input {
    padding-left: 0; }

/*--SEARCH-SUGGESTIONS--*/
.search-suggestions {
  background-color: transparent; }

.search-suggestions > article:first-child::before {
  content: "";
  display: block;
  opacity: 0.5;
  border: 1px solid var(--gray);
  width: 92%;
  margin: auto; }

.suggestion {
  text-align: start; }
  .suggestion:hover {
    background-color: rgba(128, 128, 128, 0.15);
    cursor: pointer; }
  .suggestion .fa-search {
    width: 16px;
    height: 16px;
    margin: 0 0.2rem 0 1.3rem;
    color: var(--gray); }
  .suggestion p {
    font: 400 1rem/1.2rem var(--main-font-1);
    color: var(--gray);
    display: inline-block; }

/*--TRENDING-TOPICS-TITLES-SIZING--*/
#trending-topics-ctn {
  font: 500 0.9rem/1.5rem var(--main-font-2);
  max-width: 60vw;
  margin: 0 auto 3rem;
  text-transform: capitalize; }
  #trending-topics-ctn span {
    cursor: pointer; }

.trending-h3 {
  font: 700 1rem/1.5rem var(--main-font-2);
  margin: 2rem auto 0; }

/*---ASIDE-TITLES-SETTINGS---*/
.aside-trendings {
  background-color: var(--bg-color-2);
  padding: 3rem 0 5rem;
  width: inherit; }

.aside-p {
  font: 400 1rem/1.5rem var(--main-font-1);
  margin: auto 11vw 2rem; }

/*----TRENDING-GIFS-SETTINGS----*/
.scrollable {
  width: inherit;
  overflow: scroll hidden; }

#trending-cards-ctn {
  display: flex;
  height: 190px;
  width: max-content;
  margin-left: 1.3rem; }

.gif-card {
  background-color: var(--gray);
  position: relative;
  height: inherit;
  width: auto;
  margin-right: 1.3rem; }
  .gif-card img {
    height: inherit; }

.card-hover-panel {
  display: none; }

.card-buttons-ctn {
  position: absolute;
  top: 1vh;
  right: 1vh;
  z-index: 1; }
  .card-buttons-ctn i {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    opacity: 0.7;
    color: var(--violet);
    background-color: #FFFFFF;
    border-radius: 0.4rem;
    cursor: pointer; }

.card-hover-panel {
  width: 100%;
  height: 100%;
  background-color: #562EE599;
  position: absolute;
  top: 0;
  left: 0; }

.gif-data {
  color: var(--font-color-2);
  position: absolute;
  left: 5%;
  bottom: 10%;
  z-index: 1; }
  .gif-data p {
    text-align: left;
    margin: 0.4rem; }

.gif-user {
  font: 400 0.9rem/1rem var(--main-font-1); }

.gif-title {
  font: 500 1rem/1.2rem var(--main-font-1); }

.footer {
  border-bottom: 0.3rem solid var(--page-border-color); }
  .footer nav {
    width: 6.3rem;
    margin: auto; }
  .footer p {
    font: 400 0.9rem/1.2rem var(--main-font-1);
    letter-spacing: 0;
    margin-top: 1.9rem; }
  .footer .fa {
    color: #CDD6E0;
    font-size: 1rem; }

@media screen and (min-width: 720px) {
  /*---FOOTER---¨*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    padding: 0 11vw; }
    .footer p {
      margin: 0; }
    .footer nav {
      margin-left: 1.5rem; }
    .footer .fa:hover {
      color: var(--main-color-1); } }
@media screen and (min-width: 600px) {
  /*--GIFS-GALLERY-RESPONSIVE--*/
  .gifs-ctn {
    grid-template-columns: repeat(3, 1fr); }
    .gifs-ctn article {
      height: 20vw; } }
@media screen and (min-width: 1024px) {
  .arrow-right:hover, .arrow-left:hover, .more-button:hover {
    color: var(--bg-color-1);
    background-color: var(--main-color-1); }

  :root {
    font-size: 14px; }

  /*--GIFS-GALLERY-RESPONSIVE--*/
  .gifs-ctn {
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw; }
    .gifs-ctn article {
      height: 15vw; }

  /*---ASIDE-TRENDING-GIFS---¨*/
  #trending-cards-ctn {
    height: 35vh;
    min-height: 190px;
    margin: 0; }

  .gif-card:last-child {
    margin-right: 0; }

  /*---GIF-HOVER-SETTINGS---*/
  .card-buttons-ctn i:hover {
    opacity: 1; }

  .gif-card:hover > .card-hover-panel {
    display: initial; }

  /*--ASIDE-FONTS--*/
  .aside-trendings {
    padding-bottom: 10rem; }

  .aside-trendings > .section-title {
    font-size: 1.9rem;
    line-height: 3.7rem; }

  .aside-p {
    font-size: 1.2rem; }

  /*--CARROUSEL--*/
  .scrollable {
    width: 78vw;
    overflow: hidden; }

  .carrousel-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw; }

  .gif-card {
    margin-right: 2vw; }

  .arrow-right, .arrow-left {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: var(--main-color-1);
    border: 1px solid var(--main-color-1);
    background-color: transparent; }

  /*-VIEW-MORE-BUTTON-*/ }
@media screen and (min-width: 1200px) {
  :root {
    font-size: 16px; }

  /*---TITLES-RESIZING--*/
  h1 {
    font-size: 2.5rem;
    line-height: 3.1rem;
    max-width: 650px; }

  .trending-h3 {
    font-size: 1.1rem; }

  #trending-topics-ctn {
    font-size: 1rem; }

  .empty-sec-msg {
    font: 700 1.3rem/1.5rem var(--main-font-2);
    max-width: 430px; } }
@media screen and (min-width: 1500px) {
  :root {
    font-size: 18px; } }
.hidden {
  display: none; }

.mobile-hidden {
  display: none; }

@media screen and (min-width: 1024px) {
  .mobile-hidden {
    display: initial; }

  .desktop-hidden {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
