@charset "UTF-8";
:root {
  --violet: #572EE5;
  --main-color-1: #572EE5;
  --main-color-2: #50E3C2;
  --bg-color-1: #FFFFFF;
  --bg-color-2: #F3F5F8;
  --font-color-1: #000000;
  --font-color-2: #FFFFFF;
  --main-font-1: "Roboto";
  --main-font-2: "Montserrat";
  --page-border-color: #572EE5;
  --nav-bg-color: rgba(87,46,229,0.9);
  --btn-hover-font-color: #FFFFFF;
  --btn-img-create-gifo: url(../images/button-crear-gifo.svg);
  --btn-img-create-gifo-hover: url(../images/CTA-crear-gifo-hover.svg);
  --btn-img-create-gifo-active: url(../images/CTA-crear-gifo-active.svg);
  --icon-close: url(../images/close.svg);
  --icon-hamburguer: url(../images/burger.svg);
  --icon-search: url(../images/icon-search.svg);
  --icon-search-active: url(../images/icon-search-active.svg);
  --icon-left-arrow: url(../images/button-slider-left.svg);
  --icon-left-arrow-hover: url(../images/button-slider-left-hover.svg);
  --icon-right-arrow: url(../images/Button-Slider-right.svg);
  --icon-right-arrow-hover: url(../images/Button-Slider-right-hover.svg);
  --icon-fb: url(../images/icon_facebook.svg);
  --icon-fb-hover: url(../images/icon_facebook_hover.svg);
  --icon-tw: url(../images/icon-twitter.svg);
  --icon-tw-hover: url(../images/icon-twitter-hover.svg);
  --icon-ig: url(../images/icon_instagram.svg);
  --icon-ig-hover: url(../images/icon_instagram-hover.svg); }

.dark {
  --bg-color-1: #37383C;
  --bg-color-2: #222326;
  --font-color-1: #FFFFFF;
  --main-color-1: #FFFFFF;
  --page-border-color: #000000;
  --nav-bg-color: #000000;
  --btn-img-create-gifo: url(../images/CTA-crear-gifo-modo-noc.svg);
  --btn-img-create-gifo-hover: url(../images/CTA-crear-gifo-hover-modo-noc.svg);
  --icon-close: url(../images/close-modo-noct.svg);
  --icon-hamburguer: url(../images/burger-modo-noct.svg);
  --icon-search: url(../images/icon-search-mod-noc.svg);
  --icon-fb-hover: url(../images/icon_facebook_noc.svg);
  --icon-tw-hover: url(../images/icon_twitter_noc.svg);
  --icon-ig-hover: url(../images/icon_instagram_noc.svg);
  --icon-left-arrow: url(../images/button-slider-left-md-noct.svg);
  --icon-left-arrow-hover: url(../images/button-slider-left-dark-hover.svg);
  --icon-right-arrow: url(../images/button-slider-right-md-noct.svg);
  --icon-right-arrow-hover: url(../images/Button-Slider-right-dark-hover.svg); }

body {
  font-family: var(--main-font-1), var(--main-font-2), Helvetica, sans-serif;
  text-align: center;
  color: var(--font-color-1); }

* {
  box-sizing: border-box; }

button {
  cursor: pointer;
  border: none;
  background-color: #FFFFFF00; }

label {
  cursor: pointer; }

a {
  text-decoration: none;
  color: initial; }

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-1); }

main {
  margin-top: 15vh; }

.color-aqua {
  color: var(--main-color-2); }

.color-blue {
  color: var(--main-color-1); }

.close-btn {
  width: 14px;
  height: 14px;
  background-image: var(--icon-close); }

.header-bar, .search-bar, .footer nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.gifs-ctn {
  margin: auto;
  width: 90vw;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
  .gifs-ctn article {
    width: 100%;
    height: 30vw;
    margin: 0; }
    .gifs-ctn article > img {
      width: 100%;
      height: 100%; }

.section-icon {
  margin-top: 0.6rem; }

.section-title {
  font: 700 20px/30px var(--main-font-2);
  margin: 0 auto 0.5rem;
  color: var(--main-color-1); }

.more-button {
  font: 700 13px var(--main-font-2);
  background-color: #FFFFFF00;
  letter-spacing: 0;
  border: 1px solid var(--main-color-1);
  border-radius: 25px;
  padding: 1rem 2rem;
  color: var(--main-color-1);
  margin: 2rem auto 5rem; }

.empty-sec-msg {
  font: 700 18px/22px var(--main-font-2);
  margin: 2rem auto;
  color: var(--main-color-2);
  width: 90%;
  max-width: 350px; }

.empty-favorites, .empty-my-gifos {
  margin: 6.5rem auto; }

.searched-title {
  font: 700 35px/30px var(--main-font-2);
  margin: 3rem auto 2rem;
  color: var(--main-color-1); }

.searched-section::before {
  content: "";
  display: block;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  width: 40%;
  margin: auto; }

/*SOLO-POR-AHORA-SETTINGS*/
.fullscreen-gif {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 8vh 8vw;
  display: grid; }

.search-button img {
  color: red;
  fill: red; }

/*
COMMENTS: 
1.Conseguite un nuevo logo que sirva para dark y light a la vez.

*/
/*---HEADER---*/
.header-bar {
  width: 100vw;
  height: 15vh;
  position: fixed;
  top: 0;
  background-color: var(--bg-color-1);
  border-top: 5px solid var(--page-border-color);
  z-index: 10;
  padding: 0 6vw;
  /*---HEADER-MENÚ---*/ }
  .header-bar nav {
    width: 100vw;
    height: 90vh;
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background-color: var(--nav-bg-color); }
  .header-bar ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0; }
    .header-bar ul li, .header-bar ul li > a {
      font: 700 15px/15px var(--main-font-2);
      letter-spacing: 0;
      color: #FFFFFF;
      cursor: pointer; }
    .header-bar ul li::after {
      content: "";
      display: block;
      opacity: 0.5;
      border: 1px solid #FFFFFF;
      width: 40px;
      margin: 1rem auto; }

/*---HAMBURGUER-MENU-ICONS---*/
.header-bar .hamb-icon {
  background-image: var(--icon-hamburguer);
  width: 15px;
  height: 14px; }
.header-bar .close-icon, .header-bar .hamb-checkbox:checked ~ .hamb-icon {
  display: none; }
.header-bar .hamb-checkbox:checked ~ nav, .header-bar .hamb-checkbox:checked ~ .close-icon {
  display: initial; }

/*---SEARCH-SECTION-STYLING---*/
h1 {
  font: 700 25px/33px var(--main-font-2);
  width: 76vw;
  max-width: 440px;
  margin: 0.5rem auto 2rem; }

.heading-img {
  max-width: 75vw;
  display: block;
  margin: auto; }

/*--SEARCH-BAR--*/
#search-ctn {
  border: 2px solid var(--main-color-1);
  border-radius: 30px;
  width: 90vw;
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden; }

.search-bar {
  border-radius: 30px;
  width: auto;
  padding: 0 12px; }

.search-input {
  font: 400 16px/19px var(--main-font-1);
  color: var(--font-color-1);
  text-align: left;
  padding: 1rem 0.5rem 1rem 2rem;
  border: none;
  background-color: #FFFFFF00;
  width: 90%; }

.search-button {
  width: 20px;
  height: 20px;
  background-image: var(--icon-search);
  margin: 0 6px; }

.search-input:focus ~ .search-button {
  background-image: var(--icon-search-active); }

.clear-search-button {
  display: none;
  padding: 0;
  margin-right: 8px; }

.active-search {
  flex-direction: row-reverse; }
  .active-search .clear-search-button {
    display: initial; }
  .active-search .search-input {
    padding-left: 0; }

/*--SEARCH-SUGGESTIONS--*/
.search-suggestions {
  background-color: #FFFFFF00; }

.search-suggestions > article:first-child::before {
  content: "";
  display: block;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  width: 92%;
  margin: auto; }

.suggestion {
  text-align: start; }
  .suggestion:hover {
    background-color: rgba(128, 128, 128, 0.15);
    cursor: pointer; }
  .suggestion img {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 0.3rem 0 1.2rem; }
  .suggestion p {
    font: 400 16px/19px var(--main-font-1);
    color: #9CAFC3;
    display: inline-block; }

/*--TRENDING-TOPICS-TITLES-SIZING--*/
#trending-topics-ctn {
  font: 500 14px/25px var(--main-font-2);
  max-width: 60vw;
  margin: 0 auto 3rem;
  text-transform: capitalize; }
  #trending-topics-ctn span {
    cursor: pointer; }

.trending-h3 {
  font: 700 16px/25px var(--main-font-2);
  margin: 2rem auto 0; }

/*---ASIDE-TITLES-SETTINGS---*/
.aside-trendings {
  background-color: var(--bg-color-2);
  padding: 3rem 0 5rem;
  width: inherit; }

.aside-p {
  font: 400 16px/23px var(--main-font-1);
  margin: auto 11vw 2rem; }

/*----TRENDING-GIFS-SETTINGS----*/
#trending-cards-ctn {
  display: flex;
  height: 190px;
  width: max-content;
  margin-left: 22px; }

.gif-card {
  background-color: grey;
  position: relative;
  height: inherit;
  width: auto;
  margin-right: 22px; }
  .gif-card img {
    height: inherit; }

.card-buttons-ctn, .filter, .gif-data {
  display: none; }

.scrollable {
  width: inherit;
  overflow: scroll hidden; }

.footer {
  border-bottom: 5px solid var(--page-border-color); }
  .footer nav {
    width: 100px;
    margin: auto; }
  .footer p {
    font: 400 14px/20px var(--main-font-1);
    letter-spacing: 0;
    margin-top: 30px; }
  .footer .facebook {
    width: 8px;
    height: 17px;
    background-image: var(--icon-fb); }
  .footer .twitter {
    width: 18px;
    height: 17px;
    background-image: var(--icon-tw); }
  .footer .instagram {
    width: 18px;
    height: 18px;
    background-image: var(--icon-ig); }

@media screen and (min-width: 600px) {
  /*--GIFS-GALLERY-RESPONSIVE--*/
  .gifs-ctn {
    grid-template-columns: repeat(3, 1fr); }
    .gifs-ctn article {
      height: 20vw; } }
@media screen and (min-width: 720px) {
  /*---FOOTER---¨*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    padding: 0 11vw; }
    .footer p {
      margin: 0; }
    .footer nav {
      margin-left: 1.5rem; }
    .footer .facebook:hover {
      background-image: var(--icon-fb-hover); }
    .footer .twitter:hover {
      background-image: var(--icon-tw-hover); }
    .footer .instagram:hover {
      background-image: var(--icon-ig-hover); } }
@media screen and (min-width: 1024px) {
  /*---HEADER-BAR---*/
  .header-bar {
    height: 12vh; }
    .header-bar nav {
      height: min-content;
      width: 40vw;
      display: initial;
      position: initial;
      background-color: initial; }
    .header-bar ul {
      flex-flow: row nowrap;
      justify-content: space-between; }
      .header-bar ul li, .header-bar ul li > a {
        color: var(--main-color-1);
        text-transform: uppercase;
        margin: auto; }
      .header-bar ul li::after {
        display: none; }
    .header-bar li:not(.btn-create):hover {
      border-bottom: 2px solid var(--main-color-2); }
    .header-bar li:not(.btn-create):active, .header-bar li:not(.btn-create):active > a {
      color: #9CAFC3;
      border-bottom: none; }

  .create-gifo-btn {
    display: inline-block;
    height: 54px;
    width: 54px;
    background-image: var(--btn-img-create-gifo); }
    .create-gifo-btn:hover {
      background-image: var(--btn-img-create-gifo-hover); }
    .create-gifo-btn:active {
      background-image: var(--btn-img-create-gifo-active); }

  /*--GIFS-GALLERY-RESPONSIVE--*/
  .gifs-ctn {
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw; }
    .gifs-ctn article {
      height: 15vw; }

  /*---ASIDE-TRENDING-GIFS---¨*/
  #trending-cards-ctn {
    height: 35vh;
    min-height: 190px;
    margin-left: 0; }

  /*---GIF-HOVER-SETTINGS---*/
  .filter {
    width: 100%;
    height: 100%;
    background-color: var(--violet);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0; }

  .card-buttons-ctn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    z-index: 1; }
    .card-buttons-ctn img {
      opacity: 0.7;
      cursor: pointer; }
    .card-buttons-ctn img:hover {
      opacity: 1; }

  .gif-card:hover > .filter, .gif-card:hover > .card-buttons-ctn, .gif-card:hover > .gif-data {
    display: initial; }

  .gif-data {
    color: var(--font-color-2);
    position: absolute;
    left: 5%;
    bottom: 10%;
    z-index: 1; }
    .gif-data p {
      text-align: left;
      margin: 0.3rem 0 0; }

  .gif-user {
    font: 400 15px var(--main-font-1); }

  .gif-title {
    font: 500 16px var(--main-font-1); }

  /*--ASIDE-FONTS--*/
  .aside-trendings {
    padding-bottom: 10rem; }

  .aside-trendings > .section-title {
    font-size: 30px;
    line-height: 60px; }

  .aside-p {
    font-size: 18px; }

  /*--CARROUSEL--*/
  .scrollable {
    width: 78vw;
    overflow: hidden; }

  .carrousel-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw; }

  .gif-card {
    margin-right: 2vw; }

  .arrow-right, .arrow-left {
    width: 40px;
    height: 40px; }

  .arrow-left {
    background-image: var(--icon-left-arrow); }
    .arrow-left:hover {
      background-image: var(--icon-left-arrow-hover); }

  .arrow-right {
    background-image: var(--icon-right-arrow); }
    .arrow-right:hover {
      background-image: var(--icon-right-arrow-hover); }

  /*-VIEW-MORE-BUTTON-*/
  .more-button:hover {
    color: var(--bg-color-1);
    background-color: var(--main-color-1); } }
@media screen and (min-width: 1200px) {
  /*---TITLES-RESIZING--*/
  h1 {
    font-size: 40px;
    line-height: 50px;
    max-width: 650px; }

  .trending-h3 {
    font-size: 18px; }

  #trending-topics-ctn {
    font-size: 16px; }

  .empty-sec-msg {
    font: 700 22px/25px var(--main-font-2);
    max-width: 430px; } }
.hidden {
  display: none; }

.mobile-hidden {
  display: none; }

@media screen and (min-width: 1024px) {
  .mobile-hidden {
    display: initial; }

  .desktop-hidden {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
