//---GENERAL-SETTINGS---//

body {
    font-family: var(--main-font-1), var(--main-font-2), Helvetica, sans-serif;
    text-align: center;
    color: var(--font-color-1); 
}
* {
    box-sizing: border-box;
} 
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--main-color-1); 
    text-transform: uppercase;
}
label {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: initial;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-1);
}
main {
    margin-top: 15vh;
}  

.color-aqua {
    color: var(--main-color-2);
}
.color-blue {
    color: var(--main-color-1);
}

.fa-times {
    font-size: 1.3rem;
    color: var(--main-color-1); 
}


html.theme-transition * {
    transition: all 500ms;
    transition-delay: 0s;
}

%behave-horizontal { //Ready-made flex row.  
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

%main-button { //Page default button styles.
    font: 700 0.8rem var(--main-font-2);
	background-color: transparent;
	letter-spacing: 0;
	border: 1px solid var(--main-color-1);
	border-radius: 1.5rem;
	padding: 1rem 2rem;
	color: var(--main-color-1);
	margin: 2rem auto;
}
